<!DOCTYPE html>
<html>
  <head>
    <title>Email Reminders</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Email Reminders!</h1>
  </body>
</html>
