* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  background-color: #937ee3;
  margin: 0 20px;
}

.box {
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgb(70, 70, 70);
}

.mailbox {
  font-size: 5rem;
}

.box h1 {
  font-size: 1.3rem;
}

.box form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box form input {
  padding: 5px;
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
  border: none;
  margin-bottom: 8px;
}

.box form button {
  margin-top: 15px;
  padding: 10px;
  color: #fff;
  background-color: #937ee3;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.box form button:hover {
  background-color: #7767b9;
}

footer,
footer > a {
  text-align: center;
  color: rgb(70, 70, 70);
  font-size: 0.8rem;
  text-decoration: none;
}
